<form action="/doctors" method="post">

  <label for="doctor_name">Name</label>
  <input id="doctor_name" name="doctor_name" type="text">

  <label for="speciality">Specialty</label>
  <input id="speciality" name="speciality" type="text">

  <button type="submit">Add New Doctor</button>
</form>
