<form action="/patients" method="post">
  <input id="patient" name="patient" type="hidden" value="<%= @patient.id() %>">

  <label for="patient_name">Name</label>
  <input id="patient_name" name="patient_name" type="text">

  <label for="birthday">Birthday</label>
  <input id="birthday" name="birthday" type="text">

  <button type="submit">Add New Patient</button>
</form>
